<h1>PwnLists</h1>

<% if @current_user.present? %>
  <h1>Welcome back <%= @current_user.first_name %></h1>
<% end %>

<div class="row">
  <div class="col-md">
    <h2>Trump Assassinated</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam eius vel pariatur, aliquid suscipit quaerat temporibus, non ducimus ratione adipisci. Repudiandae omnis quia dignissimos assumenda consequatur, maxime sapiente soluta ad.</p>
  </div>
  <div class="col-md">
    <h2>Royal Family actually lizards</h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias nostrum eum ratione accusamus omnis pariatur error, velit itaque iste optio enim iure tenetur dignissimos, aliquam cupiditate rem, neque sapiente!</p>
  </div>
  <div class="col-md">
    <h2>Flu epidemic</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat earum amet, esse deleniti fuga quia nam in doloribus aut, mollitia optio, excepturi obcaecati dignissimos consequuntur fugiat nulla quae tenetur voluptate.</p>
  </div>
  <div class="col-md">
    <h2>I'm the best</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At quia sequi nulla error nam provident delectus, qui, omnis minima similique rem non quas quisquam, ducimus vitae dolorum. Iusto nostrum, minima!</p>
  </div>
</div>
