// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

.container {
  margin-bottom: 200px;
}

nav {
  padding-bottom: 10px !important;
}

#map {
  height: 50vh;
}

.circle-img {
  max-width: 180px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  background-size: contain;
}

h1 {
  text-align: center;
  padding-top: 80px;
}
