// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.col {
  height: 100%;
  width: 40%;
  vertical-align: top;
  display: inline-block;
  margin: 40px;
}

.gamebody {
  text-align: center;
}

.gamelist {
  margin-bottom: 50px;
}

body {
  font-family: 'Comfortaa', cursive;
}

.container {
  margin-bottom: 200px;
}

#map {
  height: 50vh;
}

nav {
  text-align: right;
}

.gamenav {
  max-width: 500px;
  max-height: 500px;
  overflow: hidden;
  margin: 0 auto;
  display: block;
  border-radius: 50%;

}

h1 {
  text-align: center;
  background-color: rgb(242, 239, 252);
}

h4 {
  
}

.controls {
  text-align: center;
}
